$primary: #000000;
$gray2: #bdbdbd;

* {
  box-sizing: border-box;
}

body {
  font-family: Poppins;
}

header.main-header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 75px;

  h2 {
    font-style: normal;
    font-size: 36px;
    letter-spacing: -0.045em;
    font-family: "PT Serif";
    font-weight: bold;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    h4 {
      font-size: 18px;
      color: #000000;
      font-style: normal;
      line-height: 27px;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0;
    }

    p {
      font-size: 18px;
      color: #000000;
      font-style: normal;
      line-height: 27px;
      font-weight: normal;
    }
  }
}

main.main-main {
  width: 100%;
  height: auto;
  margin-top: 50px;

  section.main-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    div.cards {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      ul.lst-members {
        max-width: 100px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 300px); /* 300px 300px 300px; */
        margin: 0 auto;
        justify-content: center;
        list-style: none;
        grid-gap: 25px;

        li.lst-members-item:nth-child(2),
        li.lst-members-item:nth-child(5) {
          margin-top: 100px;
        }

        li.lst-members-item {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;

          div {
            width: 100%;

            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            img {
              position: relative;
              width: 90%;
            }

            span {
              text-transform: uppercase;
              transform-origin: 0, 0;
              font-family: "PT serif";
              transform: rotate(90deg);
              margin-left: -35px;
              margin-top: 40px;
              white-space: nowrap;
            }
          }

          strong {
            position: relative;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            color: #000000;
            font-family: Poppins;
            font-style: normal;
            margin-top: 20px;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

footer.main-footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;

  p {
    color: $gray2;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-family: monospace;
    font-weight: 500;
    text-decoration: none;
  }
}

@media screen and (max-width: 1024px) {
  main.main-main {
    section.main-section {
      div.cards {
        ul.lst-members {
          width: 100%;
          grid-template-columns: repeat(2, 250px);

          li.lst-members-item:nth-child(5) {
            margin-top: 0px;
          }

          li.lst-members-item:nth-child(2),
          li.lst-members-item:nth-child(4),
          li.lst-members-item:nth-child(6) {
            margin-top: 75px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 590px) {
  header.main-header {
    padding-left: 50px;
    flex-direction: column;
    margin-bottom: 25px;
    overflow: hidden;
  }

  main.main-main {
    section.main-section {
      div.cards {
        ul.lst-members {
          width: 100%;
          grid-template-columns: 300px;

          li.lst-members-item:nth-child(2),
          li.lst-members-item:nth-child(4),
          li.lst-members-item:nth-child(5),
          li.lst-members-item:nth-child(6) {
            margin-top: 0px;
          }
        }
      }
    }
  }
}
